<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                  <link rel="shortcut icon" href="img/myphoto.png" type="image/x-icon">      
    <title>My-Web</title>
  </head>
  <header>
    <div class="welcome">
      <h1>Добре дошли в моето Портфолио!</h1>
      <p>Тук можете да прочете всичко за мен .</p>
    </div>
  </header>
  <nav class="nav">
    <a href="#аwards">Награди</a>
    <a href="#school">Образование</a>
    <a href="#hobby">Хоби</a>
  
    <a href="#">Начало</a>
  </nav>
  <body>
    <div class="w3-third">
    
    <div class=" w3-text-red w3-card-4">
      <div class="w3-display-container">
        <img src="img/myphoto.png" style="width:90%" alt="Avatar">
        <div class="w3-display-bottomleft w3-container ">
          <h2>Станислав Димитров</h2>
        </div>
      </div>
      <div class="w3-container">
        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large "></i>Back-End</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large "></i>Бургас,България</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i>stdimitrov05@gmail.com</p>
        <p><i class="fa fa-github fa-fw w3-margin-right w3-large "></i><a href="https://github.com/stdimitrov05">Github Profile</a></p>
        <hr>

        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right "></i>Operating system за прагорамиране</b></p>
          <p class="w3-large">#1 Kali linux </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:100%">100%</div>
          </div>
        <p class="w3-large"> #2 Windows</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:50%">50%</div>
        </div>
        <hr>
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right "></i>Skills</b></p>
         <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg" width="36" height="36" alt="JavaScript" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/cplusplus-colored.svg" width="36" height="36" alt="C++" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/php-colored.svg" width="36" height="36" alt="PHP" />
            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg" width="36" height="36" alt="HTML5" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/react-colored.svg" width="36" height="36" alt="React" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/css3-colored.svg" width="36" height="36" alt="CSS3" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/bootstrap-colored.svg" width="36" height="36" alt="Bootstrap" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/sass-colored.svg" width="36" height="36" alt="Sass" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nodejs-colored.svg" width="36" height="36" alt="NodeJS" />
        <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mysql-colored.svg" width="36" height="36" alt="MySQL" />
          <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/heroku-colored.svg" width="36" height="36" alt="Heroku" />
          </p>
        <br>
<hr>
        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right "></i>Languages</b></p>
        <p>Български</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-red" style="height:24px;width:100%"></div>
        </div>
        <p>Англиски</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-red" style="height:24px;width:55%"></div>
        </div>
        <p>Немски</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-red" style="height:24px;width:25%"></div>
        </div>
        <br>
        <p>Руски</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-red" style="height:24px;width:5%"></div>
        </div>
      </div>
      <hr>
      <p>TOP Github Repositories:</p><p>PHP:</p>
      <p><i class="fa fa-github fa-fw w3-margin-right w3-large "></i><a href="https://github.com/stdimitrov05/Felicit--Web-App">Felicita PHP</a></p>
      <p><i class="fa fa-github fa-fw w3-margin-right w3-large "></i><a href="https://github.com/stdimitrov05/Erasums-Demo">Erasums++ #1</a></p>
     
      <hr>
      <p>Node JS:</p>
      <p><i class="fa fa-github fa-fw w3-margin-right w3-large "></i><a href="https://github.com/stdimitrov05/My-Web-Site">My Portfolio</a></p>
 <hr>
 <p>React Navite:</p>
 <p><i class="fa fa-github fa-fw w3-margin-right w3-large "></i><a href="https://github.com/stdimitrov05/Responsive-CV-app">CV mobile React Navite</a></p>

    </div><br>

  <!-- End Left Column -->
  </div>
  <div class="w3-twothird">
    
    <div class="w3-container w3-card  w3-margin-bottom" id="hobby">
      <h2 class=" w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-red" ></i>Хоби</h2>
      <div class="w3-container">
        <h5 class="w3-opacity w3-text-white"><b>Discord js Bot</b></h5>
        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 6 Юни 2022 - <span class="w3-tag w3-red w3-round">До Сега</span></h6>
        <p>Разработвам бота просто за предизвикателство и , за да мога да го пусна в discord bots пазара!</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Web приложение за Итилиански ресторант</b></h5>
        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>12 Май - 05 Юни 2022</h6>
        <p> С Web приложението участвах в Националния турнур по информационни технологии ИТ Свят. </p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Други</b></h5>
 
        <p>Когато не ми се програмира ?<br>Занимавам се с arduino платка и елетркическа схема. </p><br>
      </div>
    </div>

    <div class="w3-container w3-card " id="school">
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Училищен етап</h2>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Висше</b></h5>
       
        <p>Живи и здрави до тогава.</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Средно</b></h5>
        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - <span class="w3-tag w3-red w3-round">До Сега</span></h6>
        <p>СУ "Иван Вазов" / ПГЕЕ "Константин Фотинов"</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Начално </b></h5>
        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2016</h6>
        <p>Начално базово училище "Михаил Лъкатник"</p><br>
      </div>
    </div>
    <div class="w3-container w3-card  w3-margin-bottom" id="аwards">
      <h2 class=" w3-padding-16"><i class= "fas fa-award w3-margin-right w3-xxlarge w3-text-red" ></i>Награди / Сертификати</h2>
    
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Web приложение за Итилиански ресторант</b></h5>
        <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>12 Май - 05 Юни 2022</h6>
       
        <p>  <i  style="color:yellow ;"> 1 място</i>   в Националния турнур по информационни технологии ИТ Свят. </p>
        <hr>
      </div>
      <h5 class="w3-opacity"><b>Проект Ерасумс +  по Европейска Програма</b></h5>
      <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Септември 2022</h6>
     
      <p>  Сертификат.  </p>
      <hr>
      <h5 class="w3-opacity"><b>Проект Ерасумс +  по Европейска Програма</b></h5>
      <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>17 май 2020</h6>
     
      <p>  Грамота за участие в огранизараното съзтезание в Пгее "Константин Фотинов" , повот 24 май. </p>
      <hr>
      <h5 class="w3-opacity"><b>Можете да ги видите </b></h5>
    
     
      <p>  <a class="link" href="https://drive.google.com/drive/folders/1xm8Uf6JtUbDJg30IdHDyU44syZR8yOqe?usp=sharing" >Тук</a> </p>
      <hr>
      
    </div>
 

  <!-- End Right Column -->
  </div>
  
<!-- End Grid -->
</div>

<!-- End Page Container -->
</div>
  </body>
</html>
